div.content01   {
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    height: 700px;
    background-color: black;
    text-align: center;

}
img.content01{
    width: 100%;
}
h2.content01  {
    color: white;
    font-family: Kohinoor Bangla;
    font-size: 48px;
    margin-bottom: 36px;
}
h4.content01 {
    color: white;
    font-family: Kohinoor Bangla;
    font-size: 18px;
    margin-bottom:211px;

}

p.content01 {
    font-size: 16px;
    color: white;
    font-family: Kohinoor Bangla;
    margin-bottom: 85px;
}
/*********************************************/
div.content02 {
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    height: 700px;
    background-color: black;
    text-align: center;
}

div.rightWrap {
 position: absolute;
 right: 0px;
 width: 427px;
 height: 700px;
 background-color: #a0cf32;
 z-index: 9999s;
}

p.righWrap {
 width:326.66px;
 font-family: Kohinoor Bangla;
 font-size: 16px;
}
img.rightWrap {
    margin-top: 168px;
}
div.wrapConent{
    width:327px;
    height: 200px;
    margin-left:53px ;
}
button.rightWrap {
font-size: 18px;
color: #ffffff;
font-family: "Kohinoor Bangla";
font-weight: 300;
text-align: center;
width: 150px;
height: 35px;
border-radius: 10px;
border: 1px solid #ffffff;
}

/*********************************************/

div.content03 {
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    min-height: 700;
    background-color: black;
    text-align: center;
}

div.rightLeft {
    position: absolute;
    right: 0px;
    width: 427px;
    height: 700px;
    background-color: #a0cf32;
    z-index: 9999s;
   }
   
   p.righLeft {
    width:326.66px;
    font-family: Kohinoor Bangla;
    font-size: 16px;
   }
   img.rightLeft {
       margin-top: 168px;
   }
   div.wrapConent{
       width:327px;
       height: 200px;
       margin-left:53px ;
   }
   button.rightWrap {
   font-size: 18px;
   color: #ffffff;
   font-family: "Kohinoor Bangla";
   font-weight: 300;
   text-align: center;
   width: 150px;
   height: 35px;
   border-radius: 10px;
   border: 1px solid #ffffff;
   }
   
